<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-8">
    <title>Ephemeral Mart</title>
    <style>
        body { background: #121212; } /* Sadece arka plan rengi */
    </style>
</head>
<body>
    </body>
</html>